<?php /** @var Webkul\MpAssignProduct\Block\Buybox\Product\Configurable\View $block */ ?>
<?php if ($block->canDisplayBuyboxBlock()): ?>
    <div class="wk-loading-mask wk-display-none">
        <div class="wk-loader"></div>
    </div>
    <div id="buybox-cheaper-wrapper" class="buybox-wrapper">
        <div class="buybox-sellers-list-label">
            <span><?= __('Escolha uma loja abaixo e compre:') ?></span>
        </div>
        <div class="buybox-content">
            <div class="buybox-sellers">
                <?php foreach($block->getLowerPossiblePrices() as $lowerPossibleItemPrice): ?>
                    <div class="seller-container">
                        <label>
                        <span>
                            <input type="radio" name="checklowerprice" class="buybox-radio"
                                   data-price="<?= $block->toCurrency($lowerPossibleItemPrice->getPrice()) ?>"
                                   data-shop-title="<?= $block->getSellerShopTitle($lowerPossibleItemPrice->getSellerId()) ?>"/>
                        </span>
                        </label>
                        <div class="title-wrapper">
                            <span class="shop-title"><?= $block->getSellerShopTitle($lowerPossibleItemPrice->getSellerId()) ?></span>
                            <span class="price-title"><?= __('A partir de') ?></span>
                            <span class="shop-price"><?= $block->toCurrency($lowerPossibleItemPrice->getPrice()) ?></span>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
            <div class="buybox-product">
                <div class="price-wrapper">
                    <span class="price-title"><?= __('A partir de') ?></span>
                    <span class="item-price"></span>
                </div>
                <div class="seller-wrapper">
                    <span class="item-seller-label"><?= __('Vendido e entrege por:') ?></span>
                    <span class="item-seller"></span>
                </div>
                <div class="action-wrapper">
                    <span><?= __('Escolhe entre as opções acima para ver preços individuais') ?></span>
                </div>
            </div>
        </div>
        <div class="more-offers">
            <span class="more-offers-link">
                <a href="<?= $block->getCompareUrl() ?>"><?= __('Consulte aqui os valores e frete de todos os fornecedores') ?></a>
            </span>
        </div>
    </div>
    <div id="buybox-message-wrapper" class="buybox-wrapper">
        <div class="buybox-content">
            <span class="buybox-message"><?= __('Infelizmente não encontramos nenhum vendedor vendendo este item') ?></span>
        </div>
        <div class="more-offers">
            <span class="more-offers-link">
                <a href="<?= $block->getCompareUrl() ?>"><?= __('Consulte aqui os valores e frete de todos os fornecedores') ?></a>
            </span>
        </div>
    </div>
    <div id="buybox-sellers-wrapper" class="buybox-wrapper">
        <div class="buybox-sellers-list-label">
            <span><?= __('Escolha uma loja abaixo e compre:') ?></span>
        </div>
        <div class="buybox-content">
            <div class="buybox-sellers">
            </div>
            <div class="buybox-product">
                <div class="price-wrapper">
                    <span class="item-price"></span>
                </div>
                <div class="seller-wrapper">
                    <span class="item-seller-label"><?= __("Vendido e entrege por:") ?></span>
                    <span class="item-seller"></span>
                </div>
                <div class="action-wrapper">
                    <div class="qty-wrapper">
                        <div class="qty-field field qty">
                            <div class="control" is="qty-control">
                                <input type="number" class="input-text qty" title="<?= __('Qtd') ?>" value="1" maxlength="12" name="qty" />
                            </div>
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <button class="action primary tocart" title="<?= __('Comprar') ?>" type="button" data-product-id="" data-assign-product-id="" data-add-to-cart-url="">
                            <span class="buy"><?= __('Comprar') ?></span>
                            <span class="buying"><?= __('Comprando') ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-offers">
            <span class="more-offers-link">
                <a href="<?= $block->getCompareUrl() ?>"><?= __('Consulte aqui os valores e frete de todos os fornecedores') ?></a>
            </span>
        </div>
    </div>
    <div id="buybox-seller-template">
        <div class="seller-container">
            <label>
                <span>
                    <input type="radio" name="addtocartproduct" class="buybox-radio"
                           data-price=""
                           data-shop-title=""
                           data-product-id=""
                           data-assign-product-id=""
                           data-add-to-cart-url="" />
                </span>
            </label>
            <div class="title-wrapper">
                <span class="shop-title"></span>
                <span class="shop-price"></span>
            </div>
        </div>
    </div>
    <script type="text/x-magento-init">
        {
            "body": {
                "Webkul_MpAssignProduct/js/buybox/configurable/addtocart": {}
            }
        }
    </script>
<?php endif; ?>
