.minicart-wrapper {
  order: 5;
  margin-left: 12px;
  @media (max-width: 768px) {
    margin-left: 5px;
    display: inline-block;
    float: right;
    margin-top: 4px;
  }
  &::before {
    display: none !important;
  }
  /*.mage-dropdown-dialog {
    display: none !important;
  }*/

  .showcart {
    position: relative;
    padding: 10px 5px;
    display: block;
    line-height: 1rem;

    &::before {
      display: none !important;
    }
    .ico {
      width: 24px;
      height: 21px;
      fill: var(--midtone);
    }
    .text {
      display: none;
    }
    .counter.qty {
      position: absolute;
      right: 1px;
      top: 5px;
      min-width: 13px;
      height: 13px;
      background: var(--darkness);
      border-radius: 100%;
      color: var(--brightness);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      font-weight: bold;
    }
    .counter-label {
      display: none;
    }
  }

  .cart-fade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    z-index: 9;
  }

  .ui-widget-content {
    position: fixed;
    z-index: 9;
    right: 0;
    top: 0;
    width: 450px;
    height: 100%;
    overflow: auto;
    animation: slide-in 0.25s;

    .block-content {
      display: flex;
      flex-direction: column;

      .actions {
        order: 2;
      }

      .action.close {
        top: 20px;
        left: 20px;

        &::before {
          font-size: 18px;
          color: var(--midtone);
        }
      }

      .minicart-items-wrapper {
        height: 65vh!important;
      }
    }

    .block-minicart {
      top: 0;
      height: 100%;
      margin-top: 0;
      border-top: none;
      position: relative;

      .product-item {
        border-top: none;
        display: flex;
        border-radius: 3px;

        &:hover {
          box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.2);
        }

        .product {
          display: flex;
          width: 100%;

          .product-item-photo {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .product-item-details {
            padding-left: 0;

            .product-item-name {
              width: 280px;
            }

            .product.options {
              display: none;
            }

            .product.actions {
              justify-content: flex-end;
              padding-right: 20px;
            }
          }
        }
      }

      .subtotal {
        margin: 0;
        text-align: right;
        float: right;
        background-color: var(--midtone);
        padding: 10px;
        border-radius: 5px;
        color: var(--brightness);
        margin-bottom: 10px;
      }

      .items-total {
        margin: 25px 5px 10px;
        color: var(--midtone);
      }
    }

  }
}

.modal-popup.confirm {
  z-index: 9999;

  .modal-inner-wrap {
    margin: 0 auto;
    max-width: 500px;
    width: 500px!important;
    margin-left: -250px!important;
    left: 50%;

    .modal-footer {
      border-top: none;
      display: flex;
      justify-content: space-between;

      &::before {
        content: none;
      }

      button {
        border: none;
        color: var(--brightness);
        padding: 12px;
        width: 35%;
        border-radius: 65px;
        margin: 0 50px;
      }

      .action-secondary {
        background: var(--gradient-light);
      }

      .action-primary {
        background: var(--gradient-dark);
      }
    }
  }
}

@media (max-width: 420px) {
  .ui-widget-content {

    width: 100vw!important;
    .block-content {

      .action.close {
        left: unset!important;
        right: 20px!important;
      }

    }

  }
}

@keyframes slide-in {
  from { right: -100%; }
  to { right: 0; }
} 

